In [1]:
import pandas as pd

In [4]:
multi_vae = pd.read_csv("multiVAE.csv")
sas_rec = pd.read_csv("sasrec.csv")

In [5]:
multi_vae

          user   item
0           11   3735
1           11    497
2           11   1962
3           11    953
4           11  45950
...        ...    ...
313595  138493   2011
313596  138493   2289
313597  138493  49649
313598  138493   3301
313599  138493   2174

[313600 rows x 2 columns]

In [6]:
sas_rec

          user   item
0           11  70286
1           11  68954
2           11  55820
3           11  72998
4           11  79132
...        ...    ...
313595  138493  37830
313596  138493  44191
313597  138493  63859
313598  138493  60161
313599  138493   3745

[313600 rows x 2 columns]

In [7]:
res_df = multi_vae.copy()

In [19]:
for i in range(len(res_df)):
    if i%10 >=5:
        res_df['item'][i] = sas_rec['item'][i-5]

In [23]:
res_df.to_csv("multiVAE_sasrec.csv", index=False)