In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

import os
import time
import random

from tqdm import tqdm

In [2]:
seed = 42

random.seed(seed)
np.random.seed(seed)

In [3]:
train_data_dir = '/opt/ml/input/data/train/'

In [4]:
train_rating = pd.read_csv(os.path.join(train_data_dir, 'train_ratings.csv'))
# item info
writers = pd.read_csv(os.path.join(train_data_dir, 'writers.tsv'), sep='\t')
director = pd.read_csv(os.path.join(train_data_dir, 'directors.tsv'), sep='\t')
title = pd.read_csv(os.path.join(train_data_dir, 'titles.tsv'), sep='\t')
genre = pd.read_csv(os.path.join(train_data_dir, 'genres.tsv'), sep='\t')
year = pd.read_csv(os.path.join(train_data_dir, 'years.tsv'), sep='\t')

In [5]:
total_user_id = train_rating['user'].unique()

In [6]:
train_rating[train_rating['user'] == 11].sample(5, random_state=seed).index

Int64Index([290, 357, 261, 157, 145], dtype='int64')

In [7]:
sample_user_idx = []
for i in tqdm(total_user_id):
    idx = train_rating[train_rating['user'] == i].sample(5, random_state=seed).index
    sample_user_idx.extend(idx)

100%|██████████| 31360/31360 [03:54<00:00, 133.46it/s]

In [23]:
val_set = train_rating.iloc[sample_user_idx]

In [13]:
t = []

In [17]:
t.extend(set(range(train_rating.shape[0])) - set(sample_user_idx))

In [19]:
train_idx = []
train_idx.extend(set(range(train_rating.shape[0])) - set(sample_user_idx))

In [21]:
# train_idx = set(range(train_rating.shape[0])) - set(sample_user_idx)
# train_idx = list(train_idx)

In [21]:
train_set = train_rating.iloc[train_idx]

In [28]:
train_set = train_set.reset_index(drop=True)
val_set = val_set.reset_index(drop=True)

In [34]:
train_set.to_csv('train_set.csv', index=False)

In [37]:
val_set.to_csv('val_set.csv', index=False)

In [29]:
a = pd.read_csv(os.path.join(train_data_dir, 'train_ratings.csv'), nrows=1000)

In [30]:
a

     user   item        time
0      11   4643  1230782529
1      11    170  1230782534
2      11    531  1230782539
3      11    616  1230782542
4      11   2140  1230782563
..    ...    ...         ...
995    35  49651  1206724765
996    35   8968  1206724773
997    35   5254  1206724800
998    35   8985  1206724802
999    35  41566  1206724830

[1000 rows x 3 columns]

In [31]:
a['user'].unique()

array([11, 14, 18, 25, 31, 35])